<html>
    <head>
        <meta charset="UTF-8">
        <title>GrandPy-Bot</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" type="text/css" href="../static/bootstrap/bootstrap.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
    </head>
  <body>
<header>
            <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
                <h1>GrandPy-Bot, le papy qui sait tout sur tout , enfin c'est ce qu'il pense</h1>
                <img src="../static/png/logo.png" alt="grandpy">
            </nav>
        </header>
        
        <main id="chat">
            <ul>
                <li class="answer">
                    <div class="speech-bubble">
                        Bonjour mon petit !
                    </div>
                </li>
                <li class="answer">
                    <div class="speech-bubble">
                        Il paraît que tu as une question pour moi
                    </div>
                </li>
            </ul>
        </main>
        
        <section>
            <form onsubmit="grandpyAnswer();return false;">
                <label for="user_input" class="lead">Poses ta question à GrandPy-Bot :</label>
                <br>
                <input type="text" name="user_input" id="user_input">
                <a id='api_google' class="btn btn-dark" href="javascript:grandpyAnswer();">Envoyer</a>
            </form>
        </section>
        
        <footer class="card-footer">
            <a href="https://github.com/Jilvo/OC_GrandPy_Bot" onclick="window.open(this.href); return false;" >
                <img src="../static/png/github.png" alt="Github">
            </a>
            <span class="italic">
                Julien MILLOT
            </span>
        </footer>
        <script type="text/javascript" src="../static/getresponse_api.1.js"></script>
        <script type="text/javascript" src="../static/script.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKfLjoRy19P25S1KUOorpwBJ-psQ5oRg4&callback=initMap&libraries=&v=weekly"
      defer></script>
    </body>
</html>